.articles {
    overflow: hidden;
    min-height: 380px;

    .col-md-4 {
        padding: 0px;

        .article-item {
            overflow: hidden;
            background: #ffffff;
            margin: 10px;

            .article-img {

            }

            .article-border {
                border-width: 5px;
                position: relative;

                .article-star {
                    position: absolute;
                    top: -50px;
                    right: -10px;

                    button {
                        margin-left: -20px !important;                        
                    }
                }
            }

            .article-content {
                padding: 15px;

                .article-create {
                    font-family: arial;
                    font-size: 12px;
                    color: #7F7F7F;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .article-title {
                    font-family: arial;
                    line-height: 1.2;
                    font-size: 20px;
                    color: #2C2C2D;
                    padding-bottom: 10px;
                    font-weight: 700;
                }

                .article-des {
                    font-family: arial;
                    color: #423F3F;
                    font-size: 14px;
                    line-height: 1.4;
                }

                .article-share {
                    margin-top: 15px;
                    padding: 15px 0px 0px 0px;
                    text-align: right;
                    font-family: Arial,sans-serif;
                    font-size: 12px;
                    color: #737373;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.border-top-thin {
    border-top: 1px solid #F1F1F1;
}
