.article-item {
    overflow: hidden;
    background: #ffffff;
    margin: 10px;

    .article-img {
        
    }

    .article-content {
        padding: 15px;

        .article-create {

        }

        .article-title {

        }

        .article-des {

        }
    }
}
