.socials {
    text-align: right;
    padding-top: 12px;

    button {
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        margin: 5px !important;
    }

    .social-face {
        background: #5D8AC3 !important;
    }

    .social-twitter {
        background: #39A7DE !important;
    }

    .social-youtube {
        background: #CC2B27 !important;
    }

    .social-google {
        background: #DD4B38 !important;
    }

    .social-linkedin {
        background: #0077B5 !important;
    }

    .social-face:hover {
        background: #FFFFFF !important;

        .fa::before {
            color: #5D8AC3 !important;
        }
    }

    .social-twitter:hover {
        background: #FFFFFF !important;

        .fa::before {
            color: #39A7DE !important;
        }
    }

    .social-youtube:hover {
        background: #FFFFFF !important;

        .fa::before {
            color: #CC2B27 !important;
        }
    }

    .social-google:hover {
        background: #FFFFFF !important;

        .fa::before {
            color: #DD4B38 !important;
        }
    }

    .social-linkedin:hover {
        background: #FFFFFF !important;

        .fa::before {
            color: #0077B5 !important;
        }
    }
}
