@import "../vendor/variables";
@import "../vendor/mixins";

.breadcrum-wrapper{
    margin: 0;
    padding: 0;
    max-height: 100px;
    min-height: 100px;
    background: #330c37;
    float: left;
    width: 100%;

    .breadcrumb{
        background: none;
        color: #ffffff;
        
    }
}